<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Editar contato
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list lines="none">
                <ion-item>
                  <ion-label position="floating">Id</ion-label>
                  <ion-input type="text" formControlName="id"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input type="text" formControlName="nome"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">CPF</ion-label>
                  <ion-input type="text" formControlName="CPF"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Telefone</ion-label>
                  <ion-input type="test" formControlName="telefone"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Endereço</ion-label>
                  <ion-input type="test" formControlName="endereco"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button color="primary" shape="round" fill="outline" size="large" expand="full" [disabled]="form.invalid"
            (click)="submit()">
            Salvar
          </ion-button>
          <br>
          <ion-button routerLink="/login" color="medium" fill="clear" size="small" expand="full">
            Cancelar
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>