<ion-list>
  <ion-button color="dark" size="small" (click)="contatoDetalhe()">Novo Contato
  </ion-button>
  <ion-button color="dark" ion-item routerLink="/contato-editar/{{ 0 }}">
    <ion-icon name="more" slot="start"></ion-icon>
    <ion-label>Novo Contato</ion-label>
  </ion-button>
  <ion-item *ngFor="let contato of contatos">
    <ion-avatar slot="start">
      <img src="{{contato.image}}">
    </ion-avatar>
    <ion-label>
      <small><strong>{{ contato.nome }}</strong></small> <br>

      {{contato.email }}|
      {{contato.CPF }}
      <br>
      <small>
        {{contato.telefone }} |
        {{contato.endereco }}
      </small>

      <ion-button ion-item routerLink="/contato-editar/{{ contato.id }}">
        <ion-icon name="more" slot="start"></ion-icon>
        <ion-label>Editar</ion-label>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-list>